# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
keystore.properties

# Generated APKs (build locally, don't commit)
app/build/
